%section#log{class: 'without-noise', data: { channel: @channel }}
  %aside#log-panel
    %a#light_dark{href: '#'}
    %label{for: 'filter'}
      Filter:
    %input#filter
    %span.clear-input#clear_filter{style: 'display:none'}

    .input-group
      %input#show_noise{type: 'checkbox'}
      %label{for: 'show_noise'}
        Show join/leave messages

    - if @is_today
      - last_id = @messages.last.id if @messages.any?
      .input-group{style: 'display: none'}
        %input#live_logging{type:  'checkbox',
          data:  { channel:   channel_escape(@channel),
                   lastId:    last_id,
                   autostart: true }}
        %label{for: 'live_logging'}
          Live updates

  = haml :_messages, locals: { messages: @messages, dates: false }
