- now = Time.now.strftime("%H:%M")

#log

  .info
    = now
    This is <a href="mailto:whitequark@whitequark.org">whitequark</a>'s IRC log viewer inspired by
    <a href="http://github.com/cschneid">Chris Schneider</a>'s <a href="http://irclogger.com">irclogger.com</a>.

  .info
    = now
    The application works on Sinatra, and its source code is available on <a href="http://github.com/whitequark/irclogger">Github</a>.

  .info
    = now
    You can select bookmarkable message ranges by holding Shift and clicking on timestamp.
