---
files:
  log: "./log/"
  tmp: "./tmp/"

daemonize: true

# database: mysql2://root@localhost/irclogs
database: postgres:///irclogs
redis: redis://localhost:6379
# IPv6, IPv4, socket
# web: localhost:4000
# web: 127.0.0.1:4000
web: viewer.sock

server: irc.libera.chat
username: irclogger-test
# password:
sasl: false
realname: whitequark's logger bot
nickname: logger_test
channels:
  - "#irclogger-test"
  - "##irclogger-test"
  - "#irclogger-test-hidden"
hidden_channels:
  - "#irclogger-test-hidden"
legacy_escaping_scheme:
  - ".irclogger-test"
domain: irclog.example.com

watchdog:
  timeout: 180
  respawn: true
