upstream irclogger {
  server unix:/var/www/irclog/tmp/viewer.sock;
}

server {
  listen [::];
  server_name irclog.foobar.org;

  root /var/www/irclog/public;

  location / {
    if (!-f $request_filename) {
      proxy_pass http://irclogger;
    }
  }
}
