upstream irclogger {
  server unix:/var/www/irclog/tmp/viewer.sock;
}

server {
  listen [::]:80;
  listen 80;
  server_name irclog.example.com;

  root /var/www/irclog/public;

  proxy_set_header Host $host;

  location / {
    if (!-f $request_filename) {
      proxy_pass http://irclogger;
    }
  }
}
