%section#log
  %p
    How to search:

    %ul
      - if DB.database_type == :mysql2
        %li
          You can use standard <a href='http://dev.mysql.com/doc/refman/5.5/en/fulltext-boolean.html'>MySQL fulltext search</a> operations.

      %li
        You can fetch a history of kicks and bans of a particular user by searching for "kickban:username".

      %li
        You can fetch a list of all messages by a particular user by searching for "nick:username".
